
@{
    ViewData["Title"] = "Saludo";
}

@*<partial name="_UsuarioInfoPartial" model="@ViewData["usuarioInfo"]" />*@

<div class="row">
    <div class="col-md-3 form-horizontal mx-auto text-center">
        <h1>hola acabas de iniciar sesion</h1>

    </div>
</div>